@import "../../index.scss";

.login {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    height: 100vh!important;

    .sign-in-form {
        
    }

    .login__right {
        background-image: url(./login.jpg);
        background-size: cover;

    }
}
